<div id="sampler_details">
	
	<div id="sampler_details_info" name="sampler_details_info">
		<form id="sampler_details_form" action="#">
			<table border="0">
			<tr>
				<td>Title:</td>
				<td>Filename:</td>
				<td>Length:</td>
				<td>Channels:</td>
				<td>Bit Rate:</td>
				<td>Sample Rate:</td>
				<td><input type="button" value="Save" id="sampler_savedetails" name="sampler_savedetails" onclick="Sampler.SaveSample([SAMPLEID])"></td>
			</tr>
			<tr>
				<td><input type="text" id="sampler_details_title" name="sampler_details_title" value="[TITLE]"></td>
				<td><input disabled="disabled" id="sampler_details_filename" type="text" name="sampler_details_filename" value="[FILENAME]"></td>
				<td>[LENGTH]</td>
				<td>[CHANNELS]</td>
				<td>[BITSPERSAMPLE]</td>
				<td>[SAMPLERATE]</td>
				<td>&nbsp;</td>
			</tr>
			
			</table>
		</form>
		<hr />
		
		<a href="javascript:Sampler.ShowSampleImporter([SAMPLEID]);" title="Show Sample Importer">[Import]</a>
		<a href="javascript:Sampler.ShowSampleGenerator([SAMPLEID]);" title="Show Sample Generator">[Generator]</a>
		<a href="javascript:Sampler.ShowSoundMachine([SAMPLEID]);" title="Show Sound Machine">[Sound Machine]</a>
	</div>
	<br />
	
	<div name="sampler_workbench" id="sampler_workbench">
		[WORKBENCH]
	</div>
</div>
