<div id="sampler_genmachine" name="sampler_genmachine">
		<span class="sampler_generator_machinetitle">Machine</span>
		
		<input type="button" onclick="AddOscillator([SAMPLEID])" name="sampler_genmachine_newoscbtn" id="sampler_genmachine_newoscbtn" value="New Oscillator" />
		<input type="button" onclick="AddMixer([SAMPLEID])" name="sampler_genmachine_newmixerbtn" id="sampler_genmachine_newmixerbtn" value="New Mixer" />
		<br />
		
		<ul class="sampler_genmachine_list">
		[EACHOSC]
		
		</ul>
		<br class="clear" />
		<ul class="sampler_genmachine_list">
		[EACHMIXER]
		</ul>
		<br class="clear" />
		</div>
