<div id="detailer_content">
	<form method="post" action="#">
		<div>
			<span class="detailer_form_header">Title</span><br />
			<input type="text" name="detailer_title" id="detailer_title" value="[TITLE]" />
		</div>
		<div>
			<div style="float: left">
				<span class="detailer_form_header">Year</span><br />
				<input type="text" name="detailer_year" id="detailer_year" value="[YEAR]" / style="width: 60px">
			
			</div>
			<div style="float: left">
				<span class="detailer_form_header">Genre</span><br />
				<input type="text" name="detailer_genre" id="detailer_genre" value="[GENRE]" />
			</div>
			
			
		</div>
		Author: <input type="text" name="detailer_author" id="detailer_author" value="[AUTHOR]" /><br />
		
		Comments:<br />
		<textarea id="detailer_comments" name="detailer_comments" rows="20" cols="80">
			[COMMENTS]
		</textarea>
	</form>
</div>
