<td valign="top" id="element_[CHANNEL]_[ROW]" onkeydown="KeyPressHandler(event)" class="gurumod_sequencer_element">
			<span onClick="javascript:SetChannelRowSub('[CHANNEL]', '[ROW]', 0);" id="elementsub_[CHANNEL]_[ROW]_0" class="gurumod_sequencer_element_note">[NOTE]</span>
			<span onClick="javascript:SetChannelRowSub('[CHANNEL]', '[ROW]', 1);" id="elementsub_[CHANNEL]_[ROW]_1" class="gurumod_sequencer_element_sampleid">[SAMPLEID]</span>
			<span onClick="javascript:SetChannelRowSub('[CHANNEL]', '[ROW]', 2);" id="elementsub_[CHANNEL]_[ROW]_2" class="gurumod_sequencer_element_special">--</span>
			<span onClick="javascript:SetChannelRowSub('[CHANNEL]', '[ROW]', 3);" id="elementsub_[CHANNEL]_[ROW]_3" class="gurumod_sequencer_element_volume">[VOLUME]</span>
		</td>
