
<div class="sampler_genmachine_mixera" id="sampler_genmachine_processor[PROCESSORID]" name="sampler_genmachine_processor[PROCESSORID]">
	<div class="sampler_genmachine_mixer_head">
		<div class="sampler_genmachine_mixer_controlbuttons">
			<a href="javascript:Sampler.ToggleMinimizeProcessor([PROCESSORID]);"><img
				src="/images/toolicons/list-remove.png" border="0" height="24" id="sampler_genmachine_processor[PROCESSORID]_minicon" /></a>
		</div>
		<span class="sampler_genmachine_processor_title">Processor [PROCESSORID]: Gate</span><br />
	</div>
	
	<div id="sampler_genmachine_processor[PROCESSORID]_content">
		<table border="0" width="100%">
			<tr class="sampler_genmachine_gate_sourcerow">
				<td>
					<span class="sampler_genmachine_processor_label">Audio Source:</span>
					
				</td>
				<td>
					[SELECTINPUT:0]
				</td>
				
				
			</tr>
			<tr>
				<td>
					<span class="sampler_genmachine_processor_label">Gate Min:</span>
				</td>
				<td>
					[SELECTINPUT:1]
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<div id="sampler_gm_processor[PROCESSORID]_mingatectrl" style="display: none;">
						<canvas id="sampler_gm_processor[PROCESSORID]_mingateman" width="200" height="20"></canvas>
					</div>
				</td>
			</tr>
			<tr class="sampler_genmachine_gate_maxrow">
				<td>
					<span class="sampler_genmachine_processor_label">Gate Max:</span>
				</td>
				<td>
					[SELECTINPUT:2]
				</td>
			</tr>
			<tr class="sampler_genmachine_gate_maxrow">
				<td colspan="2">
					<div id="sampler_gm_processor[PROCESSORID]_maxgatectrl" style="display: none;">
						<canvas id="sampler_gm_processor[PROCESSORID]_maxgateman" width="200" height="20"></canvas>
					</div>
				</td>
			</tr>
			
		</table>
	</div>
</div>
<br />		
