<li>
<div class="sampler_genmachine_mixera" id="sampler_genmachine_processor[PROCESSORID]" name="sampler_genmachine_processor[PROCESSORID]">
	<span class="sampler_genmachine_processor_title">Processor [PROCESSORID]: Gate</span><br />
	<table>
		<tr>
			<td>
				<span class="sampler_genmachine_processor_label">Gate Min:</span><br />
				[SELECTINPUT:1]
				<br />
				<input type="text" name="sampler_genmachine_processor[PROCESSORID]_mingateman" id="sampler_genmachine_processor[PROCESSORID]_mingateman" value="[MINGATE]">
			</td>
			<td>
				<span class="sampler_genmachine_processor_label">Gate Max:</span><br />
				[SELECTINPUT:2]
				<br />
				<input type="text" name="sampler_genmachine_processor[PROCESSORID]_maxgateman" id="sampler_genmachine_processor[PROCESSORID]_maxgateman" value="[MAXGATE]">
			</td>
		</tr>
		<tr>
			<td>
				<span class="sampler_genmachine_processor_label">Audio Source:</span><br />
				[SELECTINPUT:0]
				
			</td>
			<td>
				<input type="button" name="sampler_gm_processor[PROCESSORID]_update" id="sampler_gm_processor[PROCESSORID]_update" value="Update" onclick="TweakSoundGate([SAMPLEID], [PROCESSORID], '[PROCESSORID]')">
			</td>
			
			
		</tr>
	</table>
</div></li>
		
